section.search-results {
  width: calc(100% - (var(--sm-padding) * 2));
  padding: calc(var(--lg-padding) + 60px) var(--sm-padding) var(--lg-padding) var(--sm-padding);
  display: flex;
  justify-content: center;
}

section.search-results.loading {
  margin-top: calc(var(--lg-margin) *15);
}

section.search-results .content {
  width: var(--md-screen);
}

section.search-results .content .filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.search-results .content .filter-bar .filter-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey);
  background: transparent;
  border: 0;
  cursor: pointer;
}

section.search-results .content hr {
  border: 1px solid var(--light-grey);
}

section.search-results .content .web-filter-options {
  display: flex;
  font-size: var(--md-font);
  transition: all 1s;
  height: 125px;
  opacity: 1;
}

section.search-results .content .web-filter-options.hide {
  height: 0;
  opacity: 0;
}

section.search-results .content .web-filter-options + hr {
  transition: all 2s;
}

section.search-results .content .web-filter-options.hide + hr {
  margin: 0;
  border: 0;
}

section.search-results .content .web-filter-options .option {
  margin-right: calc(var(--lg-margin) * 5);
}

section.search-results .content .web-filter-options .option .value {
  display: block;
  background: transparent;
  border: 0;
  padding: 0;
  color: var(--grey);
  margin-bottom: var(--sm-margin);
  cursor: pointer;
}

section.search-results .content .web-filter-options .option .value.selected {
  color: var(--black);
}

section.search-results .content .mobile-filter-options {
  display: none;
}

section.search-results .content .mobile-filter-options + hr {
  display: none;
}

section.search-results .content .mobile-filter-options select {
  margin-right: var(--md-margin);
  padding: var(--md-padding);
  background: var(--offwhite);
}

@media (max-width: 720px) {
  section.search-results {
    padding: var(--lg-padding) var(--sm-padding) var(--lg-padding) var(--sm-padding);
  }

  section.search-results .content .filter-bar {
    display: none;
  }

  section.search-results .content .filter-bar + hr {
    display: none;
  }

  section.search-results .content .web-filter-options {
    display: none;
  }

  section.search-results .content .web-filter-options + hr {
    display: none;
  }

  section.search-results .content .mobile-filter-options {
    display: block;
  }

  section.search-results .content .mobile-filter-options + hr {
    display: block;
  }
}
